<a href="https://colab.research.google.com/github/MoseAIML/Moses-/blob/main/Data_Analysis_with__SQL_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pre-requisites**

In [2]:
%load_ext sql
%sql sqlite://
import pandas as pd

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [3]:
# Import Car Rides Files
cab_rides = pd.read_csv("/content/cab_rides.csv", encoding="ISO-8859-1")

# We then delete the table if it exists in our database
# ---
#
%sql DROP TABLE IF EXISTS cab_rides;

# And finally store our table in the table name insurance within our dataset.
# The persist command will create a table in the database to which we are connected, 
# the table name will be the same as dataframe variable.
# ---
#
%sql PERSIST cab_rides;

# Preview the first 5 records of the insurance dataset 
# ---
#
%sql SELECT * FROM cab_rides LIMIT 5;

 * sqlite://
Done.
 * sqlite://
(sqlite3.OperationalError) near "PERSIST": syntax error
[SQL: PERSIST cab_rides;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
 * sqlite://
(sqlite3.OperationalError) no such table: cab_rides
[SQL: SELECT * FROM cab_rides LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [6]:
# Import Weather Files
weather = pd.read_csv("/content/weather.csv", encoding="ISO-8859-1")
# We then delete the table if it exists in our database
# ---
#
%sql DROP TABLE IF EXISTS weather;

# And finally store our table in the table name insurance within our dataset.
# The persist command will create a table in the database to which we are connected, 
# the table name will be the same as dataframe variable.
# ---
#
%sql PERSIST weather;

# Preview the first 5 records of the insurance dataset 
# ---
#
%sql SELECT * FROM weather LIMIT 5;

 * sqlite://
Done.
 * sqlite://
(sqlite3.OperationalError) near "PERSIST": syntax error
[SQL: PERSIST weather;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
 * sqlite://
(sqlite3.OperationalError) no such table: weather
[SQL: SELECT * FROM weather LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [7]:
#Filtering, Sorting, and Grouping
#Perform filtering, sorting, and grouping to explore a dataset using the SQL language

#Price choose other alternative location 
%%sql 
SELECT SUM(price) AS 'Total Sales from North End'
FROM cab_rides
WHERE source = 'North End';

 * sqlite://
(sqlite3.OperationalError) no such table: cab_rides
[SQL: SELECT SUM(price) AS 'Total Sales from North End'
FROM cab_rides
WHERE source = 'North End';]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [8]:
# Getting the avg weather pattern for locations
# ---
# get different weather averages
%%sql 
SELECT location, AVG(wind) FROM weather
GROUP BY location
ORDER BY AVG(wind) DESC
LIMIT 8;

 * sqlite://
(sqlite3.OperationalError) no such table: weather
[SQL: SELECT location, AVG(wind) FROM weather
GROUP BY location
ORDER BY AVG(wind) DESC
LIMIT 8;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [9]:
#Data Formatting
#Perform data formatting of numeric data to prepare data for further analysis using the SQL language.

%%sql 
SELECT UPPER(location) AS LOCATION, wind AS WIND
FROM weather 
LIMIT 5;

 * sqlite://
(sqlite3.OperationalError) no such table: weather
[SQL: SELECT UPPER(location) AS LOCATION, wind AS WIND
FROM weather
LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [10]:
%%sql 
SELECT location AS LOCATION, ROUND(wind, 1) AS Wind 
FROM weather LIMIT 5;

 * sqlite://
(sqlite3.OperationalError) no such table: weather
[SQL: SELECT location AS LOCATION, ROUND(wind, 1) AS Wind
FROM weather LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [11]:
%%sql 
SELECT cab_type, source, Count(cab_type) FROM cab_rides
GROUP BY source
ORDER BY cab_type ASC
LIMIT 10;

 * sqlite://
(sqlite3.OperationalError) no such table: cab_rides
[SQL: SELECT cab_type, source, Count(cab_type) FROM cab_rides
GROUP BY source
ORDER BY cab_type ASC
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [12]:
%%sql 
SELECT cab_type, product_id, source, SUM(price) FROM cab_rides
GROUP BY source
ORDER BY source DESC
LIMIT 10;

 * sqlite://
(sqlite3.OperationalError) no such table: cab_rides
[SQL: SELECT cab_type, product_id, source, SUM(price) FROM cab_rides
GROUP BY source
ORDER BY source DESC
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [13]:
%%sql
SELECT *
FROM cab_rides, weather
WHERE cab_rides.destination = weather.location
LIMIT 15;

 * sqlite://
(sqlite3.OperationalError) no such table: cab_rides
[SQL: SELECT *
FROM cab_rides, weather
WHERE cab_rides.destination = weather.location
LIMIT 15;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)