<a href="https://colab.research.google.com/github/MoseAIML/Moses-/blob/main/Data_Analysis_with__SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pre-requisites

In [1]:
%load_ext sql
%sql sqlite://
import pandas as pd

In [9]:

# Import Cab Rides Files
cab_rides = pd.read_csv("/content/cab_rides.csv", encoding="ISO-8859-1")

# We then delete the table if it exists in our database
# ---
#
%sql DROP TABLE IF EXISTS cab_rides;

# And finally store our table in the table name insurance within our dataset.
# The persist command will create a table in the database to which we are connected, 
# the table name will be the same as dataframe variable.
# ---
#
%sql PERSIST cab_rides;

# Preview the first 5 records of the insurance dataset 
# ---
#
%sql SELECT * FROM cab_rides LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 0.44, 'Lyft', 1544950000000.0, 'North Station', 'Haymarket Square', 5.0, 1.0, '424553bb-7174-41ea-aeb4-fe06d4f4b9d7', 'lyft_line', 'Shared'),
 (1, 0.44, 'Lyft', 1543280000000.0, 'North Station', 'Haymarket Square', 11.0, 1.0, '4bd23055-6827-41c6-b23b-3c491f24e74d', 'lyft_premier', 'Lux'),
 (2, 0.44, 'Lyft', 1543370000000.0, 'North Station', 'Haymarket Square', 7.0, 1.0, '981a3613-77af-4620-a42a-0c0866077d1e', 'lyft', 'Lyft'),
 (3, 0.44, 'Lyft', 1543550000000.0, 'North Station', 'Haymarket Square', 26.0, 1.0, 'c2d88af2-d278-4bfd-a8d0-29ca77cc5512', 'lyft_luxsuv', 'Lux Black XL'),
 (4, 0.44, 'Lyft', 1543460000000.0, 'North Station', 'Haymarket Square', 9.0, 1.0, 'e0126e1f-8ca9-4f2e-82b3-50505a09db9a', 'lyft_plus', 'Lyft XL')]

In [ ]:
# Import Weather Files
weather = pd.read_csv("/content/weather.csv", encoding="ISO-8859-1")
# We then delete the table if it exists in our database
# ---
#
%sql DROP TABLE IF EXISTS weather;

# And finally store our table in the table name insurance within our dataset.
# The persist command will create a table in the database to which we are connected, 
# the table name will be the same as dataframe variable.
# ---
#
%sql PERSIST weather;

# Preview the first 5 records of the insurance dataset 
# ---
#
%sql SELECT * FROM weather LIMIT 5;